@import "fonts.css";

/* colors */


:root {
    --black: #121212;
    --white: #E9EAE8;
    --gray-100: #3D3D3D;
    --gray-200: #666666;
    --primary-100: #FF4C01;
    --primary-200: #FF6829;
    --additional-100: #2E26F5;
    --additional-200: #00FF7B;
    --negative-100: #F71919;
    --negative-200: #FF3D3D;
    --yellow-300: #FEF665;
}

/* fonts */

:root {
    --font-bold: "Montserrat Bold", sans-serif;
    --font-boldItalic: "Montserrat BoldItalic", sans-serif;
    --font-regular: "Montserrat regular", sans-serif;
}


body {
    font-family: var(--font-regular);
    font-size: clamp(16px, 3vw, 20px);
    line-height: 150%;
    color: var(--white);
    background: var(--black);
}

.no-scroll {
    position: fixed;
}

a {
    transition: all .3s ease;
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--primary-100) !important;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
}

.section.top-section {
    padding-top: clamp(20px, 3vw, 32px);
}

.section-item {
    display: block;
    padding-top: 240px;
}

.mid-container {
    width: 100%;
    max-width: 1375px;
}

.mid-container1040 {
    width: 100%;
    max-width: 1040px;
}

.mid-container1065 {
    width: 100%;
    max-width: 1065px;
}

.min-container {
    max-width: 910px;
    width: 100%;
}

.min-container775 {
    max-width: 775px;
    width: 100%;
}

.mini-container {
    max-width: 445px;
    width: 100%;
}

.d-flex {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.jce {
    justify-content: end;
}

.jcc {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.blue-acc {
    color: var(--additional-100);
}

@media (max-width: 1400px) {
    .flex-col-mob-1400 {
        flex-direction: column;
    }
}

@media (max-width: 860px) {
    .flex-col-mob {
        flex-direction: column;
    }

    .flex-d-rev {
        flex-direction: column-reverse;
    }

    .pb-40-mob {
        padding-bottom: 40px;
    }
}

.aic {
    align-items: center;
}

.ais {
    align-items: start;
}

.jce {
    justify-content: end;
}

.pt-12 {
    padding-top: clamp(8px, 3vw, 12px);
}

.pt-24 {
    padding-top: 24px;
}

.pb-32 {
    padding-bottom: clamp(20px, 3vw, 32px);
}

.pt-16 {
    padding-top: clamp(8px, 3vw, 16px);
}

.pb-60 {
    padding-bottom: clamp(20px, 3vw, 60px);
}

.pt-40-20 {
    padding-top: clamp(20px, 3vw, 40px);
}

.pb-60-70 {
    padding-bottom: clamp(60px, 3vw, 70px);
}

.pb-20-16 {
    padding-bottom: clamp(16px, 3vw, 20px);
}

.pb-60-32 {
    padding-bottom: clamp(32px, 3vw, 60px);
}

.pb-116-40 {
    padding-bottom: clamp(40px, 3vw, 116px);
}

.pb-120-60 {
    padding-bottom: clamp(60px, 6vw, 120px);
}

.pb-80-60 {
    padding-bottom: clamp(60px, 6vw, 80px);
}

.pb-88 {
    padding-bottom: 88px;
}

@media (max-width: 860px) {
    .pb-88 {
        padding-bottom: 0
    }
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
}

.d-grid.gtc-3-1fr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.gap-20 {
    gap: 20px;
}

.gap-32 {
    gap: 32px;
}

.gap-12 {
    gap: 12px
}


.logo {
    background: center / contain no-repeat url(../images/icons/IBF-logo.svg);
    width: 84px;
    height: 40px;
    margin-right: clamp(20px, 3vw, 80px);
}

.header-r {
    flex-grow: 1;
    gap: 20px;
}

.header-wrapper {
    padding-bottom: clamp(18px, 3vw, 38px);
    padding-top: clamp(18px, 3vw, 38px);
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: none
}

.burger span {
    position: relative;
    width: 24px;
    height: 4px;
    background: var(--gray-200);
    display: block;
}

.burger span::after {
    width: 16px;
    height: 4px;
    background: var(--gray-200);
    position: absolute;
    content: '';
    top: -7px;
    right: 0;
}

.burger span::before {
    width: 16px;
    height: 4px;
    background: var(--gray-200);
    position: absolute;
    content: '';
    bottom: -7px;
    left: 0;
}

.burger .open-burger {
    background: center / contain no-repeat url(../images/icons/close-burger.svg);
    transition: all .3s ease;
    width: 24px;
    height: 24px;
}

.burger .open-burger::after,
.burger .open-burger::before {
    height: 0;
}

.menu ul li {
    margin-right: 40px;
}

.login-button {
    border: 2px solid var(--gray-200);
    padding: 11px 28px;
    border-radius: 80px;
}

@media (max-width: 1100px) {
    .burger {
        display: flex;
    }

    .menu {
        display: none;
    }

    .menu.open {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        padding: 24px;
        top: 75px;
        z-index: 100;
        background: var(--black);
    }

    .menu.open ul {
        flex-direction: column;
    }

    .menu.open ul li {
        padding-bottom: 24px;
        border-bottom: 2px solid var(--gray-200);
        margin-bottom: 24px;
    }

    .header-r {
        flex-grow: 0;
    }

    .no-scroll {
        position: fixed;
        width: 100%;
    }

    .menu ul li {
        margin: 0;
    }
}

@media (max-width: 860px) {
    .grid-3 {
        grid-template-columns: 1fr;
    }
}

.big-title {
    font-family: var(--font-bold);
    font-size: clamp(32px, 5vw, 112px);
    line-height: 110%;
    letter-spacing: -4%;
    text-transform: uppercase;
}

.first-word {
    font-family: var(--font-boldItalic);
}

.grid-3.grid-text-items {
    column-gap: 20px;
    row-gap: 30px;
}

.grid-text-item {
    border-top: 2px solid var(--gray-200);
}

.top-slider-init-wrap {
    overflow: hidden;
    position: relative;
}

.btn-wrap {
    position: relative;
    max-width: 269px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-pagination,
.btn-slide-next,
.btn-slide-prev {
    position: relative !important;
}

.btn-slide-next,
.btn-slide-prev {
    min-width: 80px !important;
    height: 80px !important;
    border: 2px solid var(--gray-100);
    padding: 30px;
    border-radius: 50%;
}

.btn-slide-next::after,
.btn-slide-prev::after {
    position: absolute;
    width: 32px;
    height: 32px;
}

.btn-slide-next::after {
    background: center / contain no-repeat url(../images/icons/Arrow-Right.svg);
}

.btn-slide-prev::after {
    transform: rotate(180deg);
    background: center / contain no-repeat url(../images/icons/Arrow-Right.svg);
}

.btn-pagination {
    margin-top: -12px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 0 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--white) !important;
}

.swiper-pagination-bullet {
    background: var(--gray-100) !important;
}

.top-slide.top-slide1,
.top-slide.top-slide2,
.top-slide.top-slide3,
.top-slide.top-slide4 {
    position: relative;
}

.top-slide.top-slide1::after,
.top-slide.top-slide2::after,
.top-slide.top-slide3::after,
.top-slide.top-slide4::after {
    position: absolute;
    content: '';
    width: 100%;
    height: calc(100% + 140px);
    right: 0;
    top: 0;
    z-index: -1;
}

.top-slide.top-slide1::after {
    background: url(../images/imgs/main-page/top-slide1.png) bottom right / contain no-repeat;
}

.top-slide.top-slide2::after {
    background: url(../images/imgs/main-page/top-slide2.png) bottom right / contain no-repeat;
}

.top-slide.top-slide3::after {
    background: url(../images/imgs/main-page/top-slide3.png) bottom right / contain no-repeat;
}

.top-slide.top-slide4::after {
    background: url(../images/imgs/fond/fond-top.png) bottom right / contain no-repeat;
}

.top-slide.top-slide2 h2,
.top-slide.top-slide3 h2 {
    max-width: 56%;
}

@media (max-width: 860px) {

    .top-slide.top-slide1::after,
    .top-slide.top-slide2::after,
    .top-slide.top-slide3::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 38%;
        right: 0;
        top: 0;
        z-index: 0;
    }

    .mid-container.top-txt {
        padding-top: 140px;
    }

    .btn-wrap {
        max-width: 100%;
        padding-top: 39px;
    }
}

.big-btn-hov {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border: 2px solid var(--gray-100);
    border-radius: 800px;
    height: 100%;
}

.big-btn-hov:hover {
    cursor: pointer;
    background: var(--primary-100);
}

.big-btn-hov:hover .arr-orange svg path {
    fill: var(--white);
}

.big-btn-hov:hover span {
    color: var(--white);
}

.body-text-bold {
    display: block;
    font-family: var(--font-bold);
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--gray-200);
}

.h2-subtitle {
    font-family: var(--font-bold);
    line-height: 110%;
    font-size: clamp(32px, 4vw, 80px);
    text-transform: uppercase;
}

.pb-12 {
    padding-bottom: clamp(8px, 3vw, 12px);
}

.after-star {
    position: relative;
}

.after-star::after {
    position: absolute;
    content: '';
    width: 455px;
    height: 330px;
    background: center / contain no-repeat url(../images/imgs/main-page/after-star.png);
    right: -50%;
    top: 0;
}

@media (max-width: 1500px) {
    .after-star::after {
        position: absolute;
        content: '';
        width: 50%;
        height: 330px;
        background: center / contain no-repeat url(../images/imgs/main-page/after-star.png);
        right: -16%;
        top: 0;
    }

}

@media (max-width: 860px) {
    .big-btn-hov {
        padding: 20px 0 20px;
        max-height: 132px;
        height: inherit;
    }

    .after-star::after {
        position: absolute;
        content: '';
        width: 233px;
        height: 148px;
        background: center / contain no-repeat url(../images/imgs/main-page/after-star.png);
        right: 56%;
        top: 0;
    }
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(610px, 1fr));
}

@media (max-width: 860px) {
    .grid-4 {
        grid-template-columns: 1fr;
    }

    .big-btn-hov {
        width: 100%;
    }
}

.pt-140 {
    padding-top: clamp(40px, 3vw, 140px);
}

.pt-16 {
    padding-top: clamp(8px, 3vw, 16px);
}

.subtitle-h3 {
    font-family: var(--font-bold);
    font-size: clamp(20px, 3vw, 40px);
    line-height: 120%;
    text-transform: uppercase;
}

.subtitle-txt {
    border-top: 2px solid var(--gray-100);
}

.gap-20-48 {
    gap: 48px 20px;
}

.gap-20-32 {
    gap: 32px 20px;
}

.gap-12-8 {
    gap: clamp(8px, 3vw, 12px);
}

.subtitle-txt ol {
    margin-left: 23px;
}

.after-click {
    position: relative;
}

.after-click::after {
    position: absolute;
    content: '';
    width: 455px;
    height: 330px;
    background: center / contain no-repeat url(../images/imgs/main-page/after-click.png);
    right: 75%;
    top: 0;
}

@media (max-width: 1500px) {
    .after-click::after {
        position: absolute;
        content: '';
        width: 50%;
        height: 330px;
        right: -11%;
        top: 0;
    }
}

@media (max-width: 1000px) {
    .big-btn-hov {
        height: 60%;
        gap: 4px;
    }

    .after-click::after {
        position: absolute;
        content: '';
        width: 200px;
        height: 148px;
        right: -11%;
        top: -40px;
    }
}

.section-item:last-child {
    padding-bottom: 200px;
}

@media (max-width: 860px) {
    .section-item:last-child {
        padding-bottom: 140px;
    }

    .section-item {
        display: block;
        padding-top: 140px;
    }
}

.w70 {
    width: 70%;
}

.w30 {
    width: 30%;
}

.mw-1220 {
    max-width: 1220px;
}

@media (max-width: 1000px) {
    .active-img-top {
        position: absolute;
        width: 200px;
        height: 200px;
        object-fit: contain;
        right: -36%;
        z-index: -1;
    }
}

@media (max-width: 860px) {
    .fond-tit {
        padding-bottom: 168px;
    }

    .pie-chart-container {
        margin: 0 auto;
        padding-bottom: 26px;
    }

    .fond-img-top {
        position: absolute;
        width: 240px;
        height: 195px;
        right: 0;
        z-index: -1;
    }

    .top-page-block {
        flex-direction: column-reverse;
    }

    .w70,
    .w30 {
        width: 100%;
    }
}

/* бублик */

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
}

.swiper-container {
    position: relative;
    overflow: hidden;
}

.swiper-slide {
    text-align: left;
}

.pie-chart-container {
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 1/1;
    font-size: 10px;
    /* Adjust this value to scale the SVG */
}

.pie-chart-container svg {
    width: 100%;
    height: 100%;
}


.pie-segment {
    cursor: pointer;
    transition: fill 0.3s ease;
    stroke: var(--black);
    stroke-width: 3;
    fill: #3D3D3D;
}

.pie-segment:hover {
    fill: #5D5D5D;
}

.pie-segment.active {
    fill: #3b5bdb;
}


@media (min-width: 768px) {
    .pie-chart-container {
        max-width: 775px !important;
        font-size: 14px;
    }
}

.btn-wrap.slider-segment {
    max-width: fit-content;
    gap: 20px;
    padding-top: clamp(5px, 3vw, 25px);
    padding-bottom: clamp(32px, 3vw, 60px);
}


@media (max-width: 860px) {

    .left-side,
    .right-side {
        width: 100%;
    }

    .btn-wrap.slider-segment {
        width: 100%;
        max-width: 100%;
    }
}

.grid2-border-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.border-text-item {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--gray-100);
    padding-top: clamp(8px, 3vw, 12px);
}

.border-text-item span {
    flex: 1;
}

.border-text-item span:first-child {
    padding-right: 20px;
}

.bold-text {
    font-family: var(--font-bold);
}

.font-italic {
    font-family: var(--font-boldItalic);
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.g3-img {
    max-width: 445px;
}

.active-img-top {
    width: 100%;
}

.pos-rel {
    position: relative;
}

@media (max-width: 860px) {

    .top-wr {
        width: 60%;
        padding-bottom: 100px;
    }
}

@media (max-width: 500px) {
    .active-img-top {
        width: 150px;
        right: 5%;
        bottom: 43%;
    }
}

.grid-block-img {
    max-width: 455px;
}

.block-img {
    width: 411px;
    height: 455px;
    object-fit: contain;
}

@media (max-width: 860px) {
    .grid-block-img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    .block-img {
        width: 200px;
        height: 180px;
    }
}

.trans-180 {
    transform: rotate(180deg);
}

.trans-319 {
    transform: rotate(319deg);
}


.color-200 {
    color: var(--gray-200);
}

.primary-200 {
    color: var(--primary-200);
}

.d-block {
    display: block;
}


@media (max-width: 860px) {
    .pb-60-m {
        padding-bottom: 60px;
    }
}

@media (max-width: 500px) {
    .konc-pri {
        margin-top: -55px;
    }
}

.additional-200 {
    color: var(--additional-200);
}

.img-cnt600 {
    max-width: 600px;
    width: 100%;
}

.mt--78 {
    margin-top: -78px;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;
}

.stat {
    flex: 1;
}

.stat:last-child {
    min-width: initial;
    width: 100%;
}

h3 {
    font-size: 32px;
    font-weight: bold;
}

.chart {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: conic-gradient(#555 0% 27%, #222 27% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.chart::before {
    content: '';
    width: 90px;
    height: 90px;
    background: #111;
    border-radius: 50%;
    position: absolute;
}

.chart.green {
    background: conic-gradient(#00FF7B 0% 40%, #222 40% 100%);
}

.bar {
    width: 100%;
    height: 20px;
}

.dots {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    gap: 5px;
}

.dots div {
    width: 20px;
    height: 20px;
    background: #00FF7B;
    border-radius: 50%;
}

.bar.gray {
    background: var(--gray-200);
    max-width: 188px;
    height: 72px;
}

.bar.green {
    max-width: 775px;
    height: 72px;
}

.green {
    background: #00FF7B;
}

.dots.gray div {
    background: #555;
}

@media (max-width: 860px) {
    .stats {
        grid-template-columns: 1fr;
    }

    .chart.pie,
    .chart.green {
        width: 160px;
        height: 160px;
    }

    .chart::before {
        width: 60px;
        height: 60px;
    }

    .dots {
        grid-template-columns: repeat(auto-fill, 20px);
    }
}

.tac {
    text-align: center;
}

.team-el-item {
    max-width: 445px;
}

.team-el-item h3 {
    max-width: 318px;
}

.grid-4-active {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
}

.pr-100 {
    padding-right: 100px;
}

@media (max-width: 806px) {
    .pr-100 {
        padding-right: 100px;
    }
}

.w292 {
    max-width: 292px;
}

.active-bottom-img {
    max-width: 508px;
}

.active-bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 860px) {
    .active-bottom-img {
        width: 100px;
        height: 112px;
        object-fit: contain;
    }
}

.mw445 {
    max-width: 445px;
}


@media (max-width: 860px) {
    .img-flag {
        max-width: 50%;
    }

    .img-flag.asfe {
        align-self: flex-end;
    }
}

.mw400 {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

@media (max-width: 860px) {
    .active-img-top.akccii {
        width: 160px;
        right: 0;
        bottom: 77%;
    }

    .mw400.akccii {
        width: 0;
        height: 0;
    }

    .h2-subtitle.risk {
        max-width: 254px;
    }
}

.round-traectory.active {
    width: 72px;
    height: 72px;
    background: var(--additional-200);
    border-radius: 50%;
}

.round-traectory {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--gray-100);
}

.big-border {
    height: 20px;
    width: 100%;
    background: var(--gray-100);
}

.big-border.active {
    height: 20px;
    width: 100%;
    background: var(--additional-200);
}

.traectory-items {
    position: relative;
    gap: 20px;
}

.big-border.last-child::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    right: -100%;
    background: var(--gray-100);
}

.section-item.traectory {
    overflow: hidden;
}

.traectory-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 860px) {
    .traectory-items {
        gap: 0;
    }

    .traectory-wrapper {
        flex-direction: row;
    }

    .traectory-items {
        flex-direction: column;
    }

    .big-border {
        width: 10px;
        height: 100%;
    }

    .round-traectory.active {
        width: 48px;
        height: 48px;
    }

    .big-border.active {
        width: 10px;
        height: 100%;
    }

    .round-traectory.active {
        margin-top: 0;
    }

    .round-traectory {
        margin-top: 12px;
    }

    .big-border.last-child::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 60px;
        right: 40%;
        bottom: -7%;
    }

    .accii-bottom {
        position: absolute;
        right: 2%;
    }
}

a.subtitle-h3 {
    text-decoration: underline;
}

.persone-img {
    width: 160px;
    height: 160px;
    object-fit: contain;
}

.tg {
    width: 32px;
    height: 32px;
}

.lk-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--gray-200);
    padding: 11px 28px;
    border-radius: 80px;
}

.border-btn {
    border-radius: 80px;
    border: 2px solid var(--gray-200);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header-lk {
    padding-top: clamp(20px, 3vw, 32px);
    padding-bottom: clamp(20px, 3vw, 32px);
    border-top: 2px solid var(--gray-200);
    border-bottom: 2px solid var(--gray-200);
}

.body-lk {
    padding-top: clamp(20px, 3vw, 40px);
}

.btn-primary {
    background: var(--primary-100);
}

.border-btn.btn-primary {
    border: none;
}

.border-line {
    border-top: 2px solid var(--gray-200);
    margin-top: clamp(20px, 3vw, 40px);
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.tab {
    background-color: #333;
    border: none;
    padding: 10px 20px;
    color: var(--white);
    cursor: pointer;
    border-radius: 80px;
    width: 141px;
    font-size: clamp(16px, 3vw, 20px);
    line-height: 150%;
}

.tab.active {
    background-color: #fff;
    color: #000;
}

.timeframes {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.timeframe {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: clamp(16px, 3vw, 20px);
}

.timeframe:hover {
    color: #fff;
}

.chart-container {
    position: relative;
}

.percentage {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: clamp(20px, 3vw, 40px);
    font-family: var(--font-bold);
    color: #00FF7B;
}

canvas {
    width: 100%;
    height: 300px;
}
.timeframe.active {
    color: #fff;
    font-weight: bold;
}

#myChart {
    padding-top: 32px;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.portfolio-total {
    flex: 1;
}


.portfolio-chart {
    width: 100px;
    height: 100px;
}

.portfolio-details {
    margin-top: 20px;
}

.portfolio-item {
    padding: 20px 0;
    border-top: 1px solid #333;
}

.portfolio-item:last-child {
    border-bottom: 1px solid #333;
}

.portfolio-item .indicator {
    width: 8px;
    height: 70px;
    margin-right: 12px;
}

.portfolio-item .indicator.green {
    background-color: #00FF7B;
}

.portfolio-item .indicator.gray {
    background-color: #333;
}

.portfolio-item .name {
    flex: 1;
    color: #888;
}

.portfolio-item .amount {
    font-size: 24px;
    margin-right: 10px;
}

.portfolio-item .action {
    color: #ff4500;
    font-size: 60px;
    cursor: pointer;
}

.h2-subtitle-80 {
    line-height: 150%;
    font-size: clamp(32px, 3vw, 80px);
}