@import "fonts.css";

/* colors */


:root {
    --black: #121212;
    --white: #E9EAE8;
    --gray-100: #3D3D3D;
    --gray-200: #666666;
    --primary-100: #FF4C01;
    --primary-200: #FF6829;
    --additional-100: #2E26F5;
    --additional-200: #00FF7B;
    --negative-100: #F71919;
    --negative-200: #FF3D3D;
    --yellow-300: #FEF665;
}

/* fonts */

:root {
    --font-bold: "Montserrat Bold", sans-serif;
    --font-boldItalic: "Montserrat BoldItalic", sans-serif;
    --font-regular: "Montserrat regular", sans-serif;
}


body {
    font-family: var(--font-regular);
    font-size: clamp(16px, 3vw, 20px);
    line-height: 130%;
    color: var(--white);
    background: var(--black);
}

.no-scroll {
    position: fixed;
}

a {
    transition: all .3s ease;
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--primary-100) !important;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
}

.mid-container {
    max-width: 1375px;
}

.min-container {
    max-width: 910px;
}

.d-flex {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.pb-32 {
    padding-bottom: clamp(20px, 3vw, 32px);
}

.pt-16 {
    padding-top: clamp(8px, 3vw, 16px);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
}

.gap-20 {
    gap: 20px;
}

.logo {
    background: center / contain no-repeat url(../images/icons/IBF-logo.svg);
    width: 84px;
    height: 40px;
    margin-right: clamp(20px, 3vw, 80px);
}

.header-r {
    flex-grow: 1;
    gap: 20px;
}

.header-wrapper {
    padding-bottom: clamp(18px, 3vw, 38px);
    padding-top: clamp(18px, 3vw, 38px);
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: none
}

.burger span {
    position: relative;
    width: 24px;
    height: 4px;
    background: var(--gray-200);
    display: block;
}

.burger span::after {
    width: 16px;
    height: 4px;
    background: var(--gray-200);
    position: absolute;
    content: '';
    top: -7px;
    right: 0;
}

.burger span::before {
    width: 16px;
    height: 4px;
    background: var(--gray-200);
    position: absolute;
    content: '';
    bottom: -7px;
    left: 0;
}

.burger .open-burger {
    background: center / contain no-repeat url(../images/icons/close-burger.svg);
    transition: all .3s ease;
    width: 24px;
    height: 24px;
}

.burger .open-burger::after,
.burger .open-burger::before {
    height: 0;
}

.menu ul li {
    margin-right: 40px;
}

.login-button {
    border: 2px solid var(--gray-200);
    padding: 11px 28px;
    border-radius: 80px;
}

@media (max-width: 1100px) {
    .burger {
        display: flex;
    }

    .menu {
        display: none;
    }

    .menu.open {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        padding: 24px;
        top: 105px;
        z-index: 100;
    }

    .menu.open ul {
        flex-direction: column;
    }

    .menu.open ul li {
        padding-bottom: 24px;
        border-bottom: 2px solid var(--gray-200);
        margin-bottom: 24px;
    }

    .header-r {
        flex-grow: 0;
    }

    .no-scroll {
        position: fixed;
        width: 100%;
    }

    .menu ul li {
        margin: 0;
    }

}

.big-title {
    font-family: var(--font-bold);
    font-size: 112px;
    line-height: 110%;
    letter-spacing: -4%;
    text-transform: uppercase;
}

.first-word {
    font-family: var(--font-boldItalic);
}

.grid-3.grid-text-items {
    column-gap: 20px;
    row-gap: 30px;
}

.grid-text-item {
    border-top: 2px solid var(--gray-200);
}

.top-slider-init-wrap {
    overflow: hidden;
    position: relative;
}

.btn-wrap {
    position: relative;
    max-width: 248px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-pagination,
.btn-slide-next,
.btn-slide-prev {
    position: relative !important;
}

.btn-slide-next,
.btn-slide-prev {
    min-width: 80px!important;
    height: 80px!important;
    border: 2px solid var(--gray-100);
    padding: 30px;
    border-radius: 50%;
}

.btn-slide-next::after,
.btn-slide-prev::after {
    position: absolute;
    width: 32px;
    height: 32px;
}

.btn-slide-next::after {
    background: center / contain no-repeat url(../images/icons/Arrow-Right.svg);
}

.btn-slide-prev::after {
    transform: rotate(180deg);
    background: center / contain no-repeat url(../images/icons/Arrow-Right.svg);
}

.btn-pagination {
    margin-top: -12px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 0 !important;
}

.swiper-pagination-bullet-active {
    background: var(--white);
}

.swiper-pagination-bullet {
    background: var(--gray-100);
}